[Unit]
Description=AstroArch onboarding configurator

[Service]
User=root
Group=root
ExecStart=/bin/bash /usr/share/applications/AstroArch-onboarding.desktop
ExecStop=/bin/systemctl disable astroarch-onboarding.service
Type=oneshot

[Install]
WantedBy=multi-user.target
