[Desktop Entry]
Categories=Qt;System;
Comment=Calamares — System Installer
Comment=Calamares — System Installer
Exec=sh -c 'xhost +si:localuser:root && pkexec env DISPLAY=$DISPLAY XAUTHORITY=$XAUTHORITY calamares'
GenericName=System Installer
GenericName=System Installer
Icon=/home/astronaut/.astroarch/assets/icons/novnc-96x96.png
Keywords=calamares;system;installer;
MimeType=
Name=Install System
Name=Install System
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
TryExec=calamares
Type=Application
Version=1.0
X-AppStream-Ignore=true
X-KDE-SubstituteUID=false
X-KDE-Username=
