[Desktop Entry]
Categories=Qt;System;
Comment=AstroArch — System Configuration
Exec=sleep 10 && sh -c 'xhost +si:localuser:root && pkexec env $(printenv) HOME=/home/astronaut XDG_CURRENT_DESKTOP=KDE XDG_SESSION_TYPE=x11 XDG_SESSION_CLASS=user XDG_SESSION_ID=3 DISPLAY=:10 calamares'
GenericName=AstroArch onboarding
Icon=/home/astronaut/.astroarch/assets/icons/novnc-96x96.png
Keywords=calamares;system;installer;
MimeType=
Name=AstroArch-onboarding
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
TryExec=calamares
Type=Application
Version=1.0
X-AppStream-Ignore=true
X-KDE-SubstituteUID=false
X-KDE-Username=
