[Desktop Entry]
Categories=Qt;System;
Comment[en_US]=AstroArch - configure system
Comment=AstroArch - configure system
Exec=pkexec calamares
GenericName[en_US]=AstroArch onboarding
GenericName=AstroArch onboarding
Icon=calamares
Keywords=calamares;system;configurer;
MimeType=
Name[en_US]=AstroArch onboarding
Name=AstroArch onboarding
Path=
StartupNotify=true
Terminal=false
TerminalOptions=\s--noclose
TryExec=calamares
Type=Application
Version=1.0
X-AppStream-Ignore=true
X-KDE-SubstituteUID=false
X-KDE-Username=
